$TTL     1D
{% for node in all_nodes %}
{% if node.role == "bastion_node" %}
@        IN  SOA {{ node.name }}.{{ cluster_name }}.{{ domain_name }}. root.{{ domain_name }}. (
                      2019022400 ; serial
                      3h         ; refresh
                      15         ; retry
                      1w         ; expire
                      3h         ; minimum
                                                                            )
        IN NS {{ node.name }}.{{ cluster_name }}.{{ domain_name}}.
{{ node.name }}.{{ cluster_name }}  IN A {{ node.ip }}

; The api points to the IP of your load balancer
api.{{ cluster_name }} IN A {{ node.ip }}
api-int.{{ cluster_name }}  IN A {{ node.ip  }}

;
; The wildcard also points to the load balancer
*.apps.{{ cluster_name }} IN A {{ node.ip }}
{% endif %}
{% endfor %}

;
; Create entry for the bootstrap host
{% for node in all_nodes %}
{% if node.role == "bootstrap_node" %}
{{ node.name }}.{{ cluster_name }} IN A {{ node.ip }}
{% endif %}
{% endfor %}

;
; Create entries for the worker hosts
{% for node in all_nodes %}
{% if node.role == "worker_node" %}
{{ node.name }}.{{ cluster_name }} IN A {{ node.ip }}
{% endif %}
{% endfor %}


; Create entries for the master hosts
{% for node in all_nodes %}
{% if node.role == "control_node" %}
{{ node.name}}.{{ cluster_name }} IN A {{ node.ip }}
{% endif %}
{% endfor %}

; etcd records
{% for node in all_nodes %}
{% if node.role == "etcd_node" %}
{{ node.name }}.{{ cluster_name }} IN A {{ node.ip }}
{% endif %}
{% endfor %}

; OpenShift Container Platform also requires a SRV DNS record for etcd server on that machine with priority 0, weight 10 and port 2380. A cluster that uses three control plane machines requires the following records:
; _service._proto.name. TTL class SRV priority weight port target.
{% for node in all_nodes %}
{% if node.role == "etcd_node" %}
_etcd-server-ssl._tcp.{{ cluster_name }} 86400 IN SRV 0 10 2380 {{ node.name }}.{{ cluster_name }}.{{ domain_name}}.
{% endif %}
{% endfor %}
