$TTL     1D
{% for node in all_nodes %}
{% if node.role == "bastion_node" %}
@        IN  SOA {{ node.name }}.{{ cluster_name }}.{{ domain_name }}. root.{{ domain_name }}. (
                      2019022400 ; serial
                      3h         ; refresh
                      15         ; retry
                      1w         ; expire
                      3h         ; minimum
                                                                            )

         IN NS {{ node.name }}.{{ cluster_name }}.{{ domain_name}}.

; Create entry for the bastion host
{{ node.ip.split('.')[3] }} IN PTR {{ node.name }}.{{ cluster_name }}.{{ domain_name }}.
{% endif %}
{% endfor %}

;
; Create entry for the bootstrap host
{% for node in all_nodes %}
{% if node.role == "bootstrap_node" %}
{{ node.ip.split('.')[3] }} IN PTR {{ node.name }}.{{ cluster_name }}.{{ domain_name }}.
{% endif %}
{% endfor %}

; Create entries for the worker hosts
{% for node in all_nodes %}
{% if node.role == "worker_node" %}
{{ node.ip.split('.')[3] }} IN PTR {{ node.name }}.{{ cluster_name }}.{{ domain_name }}.
{% endif %}
{% endfor %}

; Create entries for the master hosts
{% for node in all_nodes %}
{% if node.role == "control_node" %}
{{ node.ip.split('.')[3] }} IN PTR {{ node.name }}.{{ cluster_name }}.{{ domain_name }}.
{% endif %}
{% endfor %}
