{% for node in all_nodes %}
{% if node.role == "bastion_node" %}
rd.neednet=1 coreos.inst=yes coreos.inst.install_dev=dasda coreos.inst.image_url=ftp://{{ node.ip }}/pub/{{ rhcos_image }} 
coreos.inst.ignition_url=ftp://{{ node.ip }}/pub/bootstrap-0.ign nameserver={{ node.ip }} ip={{ bootstrap_ip }}::{{ defaultgw }}:{{ netmask }}:::none rd.znet=qeth,{{ vnic_addresses }},layer2={{ vnic_layer2 }},portno=0 zfcp.allow_lun_scan=0 cio_ignore=all,!condev rd.dasd=0.0.{{ ipldisk }}
{% endif %}
{% endfor %}
